header, nav{
  &.fixed{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;

    &.first{
      top: 0;
      left: 0;
      width: 100%;
      
      height: calc(48px + 7px);
      line-height: calc(48px + 7px);
      max-height: calc(48px + 7px) !important;

      background: rgba(0,0,0,.02);
      border-bottom: .3em solid transparent;

      a, a > img.mainlogo,
      img.mainlogo{
        position: abosolute;
        left: .5em;
        top: .2em;
        height: 80%;
        width: auto !important;
        max-width: 45%;

        max-height: calc(48px + 7px) !important;
      }
    }

    &.second{
      top: 3.5em;
      background: #e0e0e0;
      min-height: 2em;
      padding: .2em 0;
    }

    &,&.sombra{
      -webkit-transition: all .3s 0s;
      transition: all .3s 0s;      
    }
    
    &.sombra{
      background: #2c2c2c;
      border-bottom: .3em solid #343434;    
      
      -webkit-box-shadow: 0px 0px 1em 0px rgba(0,0,0,.9);
      -moz-box-shadow: 0px 0px 1em 0px rgba(0,0,0,.9);
      box-shadow: 0px 0px 1em 0px rgba(0,0,0,.9);
    }
  }
}

body.admin-bar {
  header, nav{
    &.fixed{
      position: absolute;
      margin-top: calc(-48px - 7px) !important;
    }
  }
}

@media screen and (max-height: 400px){
  body {
    header, nav{
      &.fixed{
        position: absolute;
        margin-top: calc(-48px - 7px) !important;
      }
    }
  }
}