*, article{
  .colunas,.colunas2,.colunas3,.colunas4{
    display: block !important;
    position: relative !important;

    column-gap: 1.5em;

    blockquote{
      &,&.cite{
        margin-left: -.25em !important;
        margin-right: -.25em !important;
      }
    }

    > .force_second_collums{
      display: block;
      visibility: hidden !important;
    }

    > *{
      /* https://stackoverflow.com/questions/26854095/stop-css3-columns-breaking-paragraphs-up */
      page-break-inside: avoid; /* For Firefox. */
      -webkit-column-break-inside: avoid; /* For Chrome & friends. */
      break-inside: avoid; /* For standard browsers like IE. :-) */
    }
  }

  .colunas.col2,
  .colunas2{
    column-count: 2;

    @media screen and (max-width: 560px) {
      column-count: 1;
    }
  }

  .colunas.col3,
  .colunas3{
    column-count: 3;

    @media screen and (max-width: 1000px) {
      column-count: 2;
    }

    @media screen and (max-width: 560px) {
      column-count: 1;
    }
  }

  .colunas.col4,
  .colunas4{
    column-count: 4;

    @media screen and (max-width: 1000px) {
      column-count: 2;
    }

    @media screen and (max-width: 560px) {
      column-count: 1;
    }
  }
}